body{
   
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
}
.text-primary{
    color: rgb(235, 102, 7);
}
.short{
    font-weight: bold;
}
.btn-primary{
    background-color:rgb(235, 102, 7) ;
    border-radius: 5px  ;
    border: 0;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
    margin: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    
}

nav li{
    margin-right: 50px;
    list-style: none;
    font-weight: bold;
    font-size: medium;
}
nav a{
    text-decoration: none;
    color: rgb(74, 15, 211);
    
}
.header{
    background-color: rgba(209, 204, 191, 0.938);
}
.banner{
    margin: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.733);
    margin-bottom: 0px;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
    margin-top: 5px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: rgba(162, 194, 194, 0.76);
    margin: 130px 0px;
}
.section-title{
    color: rgba(2, 31, 92, 0.623);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    color: rgb(59, 38, 13);
    text-align: center;
    font-size: 18px;
   font-weight: bold;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-inf{
    text-align: center;
}
.info-title{
    text-align: center;
    color: darkblue;
    font-family: sans-serif;
}
.info-description{
    color: rgb(94, 3, 180);
    font-size: large;
    font-weight: bold;
}
#what-i-do-descrip{
    padding: 30px 150px;
}
.das{
    background-color: rgb(231, 231, 231);
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px;
   
}
.main section{
    margin-top: 130px;
}
.section-tittle{
    color: rgba(31, 9, 51, 0.582);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top: 15px;
}
.resume-column-title{
    color: rgba(0, 0, 0, 0.986);
    font-size: 30px;
    font-weight: 700;

}
.resume-cotainer{
    display: flex;
    gap: 55px;
}
.resume-column-title{
   color: rgb(187, 21, 21);
}
.resume-item-title{
    color: rgb(17, 147, 151);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-description{
    color: rgb(33, 15, 49);
    font-weight: 400;
}
.resume-cotainer hr{
    margin: 30px 15px;
}
.resume-item-institue{
    margin-bottom: 10px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    
}

    

.download-cv{
    text-align: center;
    margin-top: 50px;
}
.btn-second{
    background-color: rgba(5, 1, 1, 0.719);
    border-radius: 5px  ;
    border: 0;
    color: rgba(16, 1, 58, 0.747);
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
    margin: 5px;
}

